<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600243686836-hpfbmre0uc1pl6i6t39g8fdeq648sjrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600243686836-hpfbmre0uc1pl6i6t39g8fdeq648sjrm</string>
	<key>API_KEY</key>
	<string>AIzaSyAlzURfuwcnrLR2p5Avzy14ARL8OM5ZpfA</string>
	<key>GCM_SENDER_ID</key>
	<string>600243686836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.profileUpdateFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>updateprofileproject</string>
	<key>STORAGE_BUCKET</key>
	<string>updateprofileproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600243686836:ios:b34499275d751f41ee76e1</string>
	<key>DATABASE_URL</key>
	<string>https://updateprofileproject-default-rtdb.firebaseio.com</string>
</dict>
</plist>